<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, iste sed. Dolorem repellendus ipsa, magnam
        eligendi saepe sed itaque assumenda molestiae deserunt ipsam maiores recusandae blanditiis qui, corporis autem.
        Doloribus.
        Quam, doloribus voluptatibus iure nam reprehenderit eligendi unde accusamus accusantium, totam et repudiandae
        at! Sunt similique, error temporibus in et aliquam ducimus, eum perferendis assumenda, quod voluptatem incidunt
        iste reiciendis.</p>

    {{> footer}}
</body>

</html>